.tempAvatar {
    margin-left: 20px;
}

.bodyMatcher {
    font-family: 'Roboto', sans-serif;
    
}


.profileBioTwo{
    margin-left: 40px;

    
}

.languagesDisplayTwo {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding: 0px !important;
}